.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/* header {
  
} */

.container__main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
  align-items: center;
}

.action__btn {
  display: flex;
  justify-content: center;
}